
  .DarkTheme {color:#F0F0C9 !important; background-color:#333333 !important }
  body { color:#333333 !important; background-color:#FFFFFA !important }
  

#nav ul {
  display: inline-block;
  list-style-type: none;
}
  .ReverseTheme { color:"#333333" !important; background-color:"#F0F0C9" !important}
 .w3-theme {color:#fff !important;background-color:#3f51b5 !important}
    .w3-theme-light {color:#000 !important;background-color:#e8eaf6 !important}
    .w3-theme-dark {color:#fff !important;background-color:#1a237e !important}

    .w3-theme-l5 {color:#000 !important;background-color:#e8eaf6 !important}
    .w3-theme-l4 {color:#000 !important;background-color:#c5cae9 !important}
    .w3-theme-l3 {color:#000 !important;background-color:#9fa8da !important}
    .w3-theme-l2 {color:#fff !important;background-color:#7986cb !important}
    .w3-theme-l1 {color:#fff !important;background-color:#5c6bc0 !important}
    .w3-theme-d1 {color:#fff !important;background-color:#3949ab !important}
    .w3-theme-d2 {color:#fff !important;background-color:#303f9f !important}
    .w3-theme-d3 {color:#fff !important;background-color:#283593 !important}
    .w3-theme-d4 {color:#fff !important;background-color:#1a237e !important}

    .w3-theme-action {color:#fff !important;background-color:#311b92 !important}
    .w3-text-theme {color:#1a237e !important} */

    .DarkTheme {color:#e9c46a !important; background-color:#264653 !important }

 
    /* @import url(http://fonts.googleapis.com/css?family=Inconsolata);
@import url(http://fonts.googleapis.com/css?family=PT+Sans);
@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700); */
